<!-- ko -->
<tr class="totals customfee excl">
    <th class="mark" scope="row">
        <span class="label" data-bind="text: title"></span>
        <span class="value custom_wk_price" data-bind="text: getValue()"></span>
    </th>
    <td class="amount">
        <span class="price custom_wk_price"
              data-bind="text: getValue(), attr: {'data-th': title}">

        </span>
    </td>
</tr>
<!-- /ko -->

<style type="text/css">
    span.custom_price .price{font-size: 12px; font-weight: normal;}
    span.custom_wk_price{font-weight: 700;font-size: 17px;color:#CD2C2D;}
</style>