<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="tracker" frontName="track-details">
            <module name="Hp_Tracker" />
        </route>
        <route id="track" frontName="track-order">
            <module name="Hp_Tracker" />
        </route>
    </router>
</config>
