<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Store/etc/config.xsd">
    <default>
        <payment>
            <progressivepayment>
                <!--<payment_action>authorize</payment_action>--><!-- You can use another methor like capture  -->
                <model>Hp\ProgressivePayment\Model\ProgressivePaymentMethod</model>
                <active>1</active>
                <title>Progressive Leasing Payment</title>
                <order_status>pending</order_status><!-- set default order status-->
                <group>Offline</group>
            </progressivepayment>
        </payment>
    </default>
</config>